<table class="table table-bordered table hover">
    <thead>
        <tr>
            <td>Código</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2" >
        </tr>
    </thead>
    <body>
      <%= render @insumos, ExibirBotoes: true %>
    </body>
</table>