<!-- nav_bar e container vão para views/layouts/application.html.erb para não repetir código -->

<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<table class="table table-bordered table hover">
    <thead>
        <tr>
            <td>Código</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2" >
        </tr>
    </thead>
    <body>
        <%= render @ConsInsumos, ExibirBotoes: true %>
    </body>
</table>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Insumo com Desconto</h4>
</div>
<table class="table table-bordered table hover">
    <thead>
        <tr>
            <td>Código</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2" >
        </tr>
    </thead>
    <body>
        <%= render @ConsInsumos_com_desconto, ExibirBotoes: false %>
    </body>
</table>        
